<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Checkout</h1>
        
        {% if books %}
            <table class="checkout-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Quantity</th> <!-- Новый столбец для количества -->
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book['title'] }}</td> <!-- Title -->
                            <td>{{ book['author'] }}</td> <!-- Author -->
                            <td>{{ book['quantity'] }}</td> <!-- Quantity -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% if message %}
                <div class="alert">{{ message }}</div>
            {% endif %}
            <form method="POST">
                <button type="submit">Confirm Order</button>
            </form>
        {% else %}
            <p>Your cart is empty. Add some books to your cart!</p>
        {% endif %}
    </div>
</body>
</html>